@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Krub:wght@500&family=Lato&family=Noto+Serif&family=Nunito:wght@400;500;600&family=Poppins:wght@400;500;600&family=Raleway:wght@200&family=Roboto&display=swap");
* {
  margin: 0;
  font-family: "Poppins";
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(Billy-Huynh-clouds.jpg);
  background-position: center;
  background-size: cover;
}

.input-card {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  min-width: 20%;
  min-height: 20%;
  padding-bottom: 1.5rem;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.input-card header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  position: relative;
  border-bottom: 1px solid #aaa9a9;
  color: #8fb8d8;
}

.input-card header .app-name {
  color: #8fb8d8;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;
}

.input-card header img,
.input-card header .filler {
  width: 50px;
  height: 50px;
}

.input-card .city-input-box {
  border: 2px solid #c0bcbc;
  outline: none;
  border-radius: 0.6rem;
  height: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
}

.input-card .city-input-box:active, .input-card .city-input-box:focus {
  border: 2px solid #8fb8d8;
}

.input-card .input-box-button {
  border: none;
  background-color: #8fb8d8;
  color: white;
  font-size: 1.2rem;
}

.input-card .input-box-button:hover {
  cursor: pointer;
}

.input-card .input-box-button,
.input-card .city-input-box {
  border-radius: 0.6rem;
  height: 3rem;
  margin: 0 1.5rem;
  margin-top: 0;
}

.weather-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  height: 60%;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.weather-card-container .weather-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.weather-card-container .weather-card .top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.weather-card-container .weather-card .top-section .go-back-arrow-container {
  position: absolute;
  top: 0;
  left: 0;
}

.weather-card-container .weather-card .top-section .go-back-arrow-container .go-back-arrow {
  width: 70px;
  height: 70px;
}

.weather-card-container .weather-card .top-section .go-back-arrow-container .go-back-arrow:hover {
  cursor: pointer;
}

.weather-card-container .weather-card .top-section .weather-icon {
  width: 8rem;
  height: 8rem;
}

.weather-card-container .weather-card .top-section .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.weather-card-container .weather-card .top-section .location .location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.weather-card-container .weather-card .top-section .location .location-container .location-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.weather-card-container .weather-card .top-section .location .location-container .location-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.weather-card-container .weather-card .top-section .location .location-weather-type {
  text-transform: capitalize;
  font-size: 20px;
  color: #8bb8e7;
}

.weather-card-container .weather-card .top-section .temperature-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-card-container .weather-card .top-section .temperature-section .temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.weather-card-container .weather-card .top-section .temperature-section .temperature .termometer-icon {
  width: 3rem;
  height: 3rem;
}

.weather-card-container .weather-card .top-section .temperature-section .temperature .temperature-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
  font-weight: bold;
}

.weather-card-container .weather-card .top-section .temperature-section .temperature .degree-sign {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.weather-card-container .weather-card .top-section .temperature-section .temperature .celsius-sign {
  font-size: 5rem;
  font-weight: bold;
}

.weather-card-container .weather-card .top-section .carret-container {
  text-align: right;
}

.weather-card-container .weather-card .top-section .carret-container .carret {
  width: 50px;
  height: 100%;
  margin-right: 0.5rem;
}

.weather-card-container .weather-card .top-section .carret-container .carret:hover {
  cursor: pointer;
}

.weather-card-container .weather-card .bottom-section {
  width: 100%;
  height: 10vh;
}

.weather-card-container .weather-card .bottom-section .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.weather-card-container .weather-card .bottom-section .details-container .temperature-feels-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=styles.css.map */