@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Cabin&family=Krub:wght@500&family=Lato&family=Noto+Serif&family=Nunito:wght@400;500;600&family=Poppins:wght@400;500;600&family=Raleway:wght@200&family=Roboto&family=Source+Code+Pro:wght@300&display=swap");
body {
    background-color: rgb(86, 87, 126);
    font-family: "Cabin", sans-serif;
}

.sudoku {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;
    margin: 5rem auto;
    .header {
        font-size: 3em;
    }

    .board {
        display: flex;

        .nodeInput {
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 2em;
            font-family: "Cabin", sans-serif;
        }
    }
}
